In [ ]:
SELECT 
   products.name AS product_name, EXTRACT (YEAR FROM sales.date) AS year, EXTRACT (MONTH FROM sales.date) AS month,
   EXTRACT (DAY FROM sales.date) AS day,
   SUM (sales_details.count * products.price) AS total
FROM sales_details
   INNER Join Sales ON sales_details.sale_id=sales.id
   INNER JOIN products ON sales_details.product_id=products.id
   GROUP BY products.name, ROLLUP (year, month, day)
ORDER BY products.name, year, month, day;